body {
  margin: 0;
  background-color: #bfbcae;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b3840;
  height: 80px;
}

nav {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
.linkstochange {
  /* border: solid; */
  /* background-color: #BFBCAE; */
  border-radius: 10%;
}

nav > img {
  max-width: 25vh;
  max-height: 15vh;
  border-radius: 50%;
}

nav > a {
  font-size: large;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

nav a:hover {
  color: #bfbcae;
}

#sidebar {
  width: 250px;
  height: 100vh;

  transition: all 0.3s;
}

#sidebarComp {
  overflow-y: scroll;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 300px;
  z-index: 5;
}

#sidebarComp > a {
  color: #888;
}

.menu {
  padding: 0px 50px 0px 70px;
}

.menu > ul,
li {
  margin: 0;
  padding: 0;
}

.menu > ul > li > a {
  display: block;
  margin: 0 -50px 0 (-50px -20px);
  padding: 10px 50px 10px 70px;
}

/* .bottom-padding {
  height: 100px;
} */

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Hashtags {
  color: blue;
  cursor: pointer;
  font-size: 30px;
}
.HashtagsChos {
  /* margin-top: 10px; */
  color: #a66c4b;
  cursor: grab;
  font-size: 15px;
}
.postDIV {
  display: flex;
  flex-direction: row;
}
.f-posts {
  display: block;
  margin-left: 70px;
  margin-top: 100px;
  justify-content: center;
}
.post-block {
  display: flex;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  /* margin: 1rem auto; */
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #d4d4d4;

  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  width: 60%;
}

.post-image {
  width: 300px;
  height: 300px;
}

.post-content {
  flex: 3;
  padding: 0 20px;
}

.post-content p {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.post-content button {
  margin-bottom: 10px;
}

.post-content form {
  margin-bottom: 10px;
}

.post-content button,
.post-content form {
  display: inline-block;
}

.post-content h4 {
  margin-bottom: 10px;
}

img {
  width: 50px;
  height: 50px;
}
.HomePageContainer {
  display: flex;
  flex-direction: row;
}

.sideBarClass {
  width: 250px;
  font-family: "Roboto", sans-serif;
  /* background-color: green; */
}

.contentClass {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.innerContentRow {
  flex-direction: column;
}

.imagesClass {
  flex: 1;
  /* background-color: pink; */
}

.hashtagsClass {
  flex: 1;
  /* background-color: black; */
}

.inputSearch {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: 30px;
  line-height: 30px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
  margin: 7%;
}
.HashtagColors {
  color: blue;
  cursor: grab;
}
.inputSearch:focus {
  background-color: white;
}

.inputSearch:disabled {
  background-color: white;
  color: #a3a3a3;
}

.inputSearch:read-only {
  background-color: #f4f4f4;
  color: #a3a3a3;
  cursor: not-allowed;
}
.hideHyperlink {
  color: #3b3840;
  text-decoration: none;
}
.HeaderH1 {
  font-family: "Playfair Display", serif;
  color: #3b3840;
}
.hashtaChosIMG {
  width: 400px;
  height: 400px;
}
.hashtaChosTXT {
  font-size: 25px;
}
.IMGPOSTHOMEPAGE {
  width: 300px;
  height: 300px;
}
.TEXTPOSTHOMEPAGE {
  color: #a66c4b;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* register page css  */
.content i {
  margin-bottom: 41px;
}

.container {
  border-radius: 1px;
  padding: 50px 40px 20px 40px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #f2d4ae;
  border: 1px solid rgb(219, 219, 219);
  text-align: center;
  background: #3b3840;
}

.content__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.content__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.content__form label {
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  position: relative;
  min-width: 268px;
  height: 38px;
  border-radius: 3px;
}

.content__form span {
  position: absolute;
  text-overflow: ellipsis;
  transform-origin: left;
  font-size: 12px;
  left: 8px;
  pointer-events: none;
  transition: transform ease-out 0.1s;
}

.content__form input {
  width: 100%;
  background: inherit;
  border: 0;
  color: white;
  outline: none;
  padding: 9px 8px 7px 8px;
  text-overflow: ellipsis;
  font-size: 18px;
  vertical-align: middle;
}

.content__form input:valid + span {
  transform: scale(calc(10 / 12)) translateY(-10px);
}

.content__form input:valid {
  padding: 14px 0 2px 8px;
  font-size: 12px;
}

.content__or-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  column-gap: 18px;
  margin-top: 18px;
}

.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(219, 219, 219);
}

.content__forgot-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  row-gap: 21px;
}

.content__forgot-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #00376b;
}

.content__forgot-buttons button:first-child {
  color: #385185;
  font-size: 14px;
  font-weight: 600;
}

.content__form button {
  background: #bfbcae;
  color: #3b3840;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;
}

.content__form button:hover {
  background: #bfbcae;
}

.content__form button:active:not(:hover) {
  background: #3b3840;
  opacity: 0.7;
}
.RegisterHeader {
  font-family: "Roboto", sans-serif;
}

/* Heading Two */
.HomePageNotLoggedinUserhTwo {
  font-size: 35px;
  color: #333;
  margin-bottom: 20px;
}

/* Heading Three */
.HomePageNotLoggedinUserhThree {
  font-size: 22px;
  color: #555;
  margin-top: 20px;
}
.homePageNLUContainer {
  margin-left: 50px;
}
/* Paragraph */
.HomePageNotLoggedinUserPar {
  font-family: "Georgia", serif;
  font-size: 25px;
  color: #3b3840;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Unordered List */
.HomePageNotLoggedinUserul {
  list-style-type: disc;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

/* List Item */
.HomePageNotLoggedinUserli {
  margin-bottom: 10px;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #444;
}

/* Strong (Bold) */
.HomePageNotLoggedinUserStrong {
  color: #444;
}

/* Links */
.HomePageNotLoggedinUserPar a {
  color: #007bff;
  text-decoration: none;
}

.HomePageNotLoggedinUserPar a:hover {
  color: #0056b3;
}


.inputClass2 {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  margin-left: 55px;
  border-bottom: 2px solid #3b3840;
  caret-color: #3b3840;
  background-color: #bfbcae;
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

.inputClass2:focus {
  border: 2px solid #a66c4b;
  caret-color: #a66c4b;
  color: #3b3840;
  box-shadow: 4px 4px 10px #f2d4ae;
}

.inputClass2:focus::placeholder {
  color: #a66c4b;
}

.ContainerEditPRofile{
  align-items: center;
  /* display: flex; */
  text-align: center;
}


.inputClass {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #3b3840;
  caret-color: #3b3840;
  background-color: #bfbcae;
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

.inputClass:focus {
  border: 2px solid #a66c4b;
  caret-color: #a66c4b;
  color: #3b3840;
  box-shadow: 4px 4px 10px #f2d4ae;
}

.inputClass:focus::placeholder {
  color: #a66c4b;
}
.box {
  /* float: left; */
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  margin: 0 10px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px #a66c4b;
}

.box:hover:before {
  border-color: #a66c4b;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: #a66c4b;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.buttonsCreatePost {
  color: #a66c4b;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.CraetePostDiv {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.AddNewPost {
  font-size: 35px;
  color: #a66c4b;
  font-family: "Playfair Display", serif;
}
.hashtagsAdded {
  font-family: "Playfair Display", serif;
  color: #a66c4b;
}
.addIMGClass {
  color: #a66c4b;
}
.custum-file-upload {
  display: inline-block;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #3b3840;
  background-color: #bfbcae;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #3b3840;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.main-profile-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile {
  display: flex;
}

.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-post {
  border: 1px solid black;
}

.classUserProfile {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}

.usernameProfile {
  padding: 2.5%;
  background-color: white;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.following,
.followers {
  margin-left: 50px;
  padding: 1%;
  background-color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.following-followers {
  display: flex;
  flex-direction: row;
}

.usersPostsProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-card {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  width: 60%;
}

.meta {
  z-index: 0;
  flex: 0 0 40%;
  height: auto;
}

.photo {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.descriptionProfile {
  padding: 1rem;
  background-color: white;
  position: relative;
  z-index: 1;
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
}

/* .userProfileDetails {
  display: flex;
  flex-direction: row;
} */

.textProfile {
  position: relative;
  margin: 1rem 0 0;
  display: flex;
  justify-content: space-between;
}

.likesProfile {
  text-align: end;
  color: red;
  margin-top: auto;
  padding: 0;
}

.followbutton {
  display: inline-block;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.followbutton:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: white;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.followbutton:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.followbutton:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.followbutton:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.followbutton:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.card-button {
  width: 24%;
  height: 29px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}

.card-footerProfile {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.card-name {
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 3%;
  margin: 2% 8%;
  justify-content: space-between;
}

menu {
  padding: 0 !important;
}

.userSidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* like button  */
.likescontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.likescontainer {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.likescontainer svg {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  fill: #666;
}

.likescontainer svg:hover {
  transform: scale(1.1);
}

.likescontainer input:checked ~ svg {
  fill: #d70808;
}
/* inputs for comments and replays */
.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: black;
  border: 1px solid #3b3840;
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 20px;
  pointer-events: none;
  font-size: 1em;
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  color: #3b3840;
  letter-spacing: 0.1em;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 5px;
  border-radius: 2px;
  background: #bfbcae;
  letter-spacing: 0em;
  border: 1px solid #bfbcae;
}
#bottone6 {
  margin-left: 20px;
  align-items: center;
  background-color: #bfbcae;
  border: #bfbcae;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  /* line-height: 1.25; */
  /* min-height: 3rem; */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
  height: 5px;
}

#bottone6:hover,
#bottone6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#bottone6:hover {
  transform: translateY(-1px);
}

#bottone6:active {
  background-color: #bfbcae;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#bottone5 {
  align-items: center;
  background-color: #bfbcae;
  border: #bfbcae;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  /* line-height: 1.25;
  min-height: 3rem; */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 20px;
  height: 10px;
}
.divButtonss {
  margin-top: 5px;
}

#bottone5:hover,
#bottone5:focus {
  border-color: #bfbcae;
  box-shadow: #bfbcae;
  color: rgba(0, 0, 0, 0.65);
}

#bottone5:hover {
  transform: translateY(-1px);
}

#bottone5:active {
  background-color: #f0f0f1;
  border-color: #bfbcae;
  box-shadow: #bfbcae 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.lablesForEditPost{
  color: #a66c4b;
  font-family: "Playfair Display", serif;
}
