body {
  margin: 0;
  background-color: #bfbcae;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b3840;
  height: 80px;
}

nav {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
.linkstochange{
  /* border: solid; */
  /* background-color: #BFBCAE; */
  border-radius: 10%;

}

nav > img {
  max-width: 25vh;
  max-height: 15vh;
  border-radius: 50%;
}

nav > a {
  font-size: large;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

nav a:hover {
  color: #bfbcae;
}

#sidebar {
  width: 250px;
  height: 100vh;

  transition: all 0.3s;
  overflow-y: scroll;
}

#sidebarComp {
  overflow-y: scroll;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 300px;
  z-index: 5;
}

#sidebarComp > a {
  color: #888;
}

.menu {
  padding: 0px 50px 0px 70px;
}

.menu > ul,
li {
  margin: 0;
  padding: 0;
}

.menu > ul > li > a {
  display: block;
  margin: 0 -50px 0 (-50px -20px);
  padding: 10px 50px 10px 70px;
}

.bottom-padding {
  height: 100px;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Hashtags {
  color: blue;
  cursor: pointer;
  font-size: 30px;
}
.HashtagsChos {
  /* margin-top: 10px; */
  color: #a66c4b;
  cursor: grab;
  font-size: 15px;
}

.f-posts {
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
  height: 50px;
}
.HomePageContainer {
  display: flex;
  flex-direction: row;
}

.sideBarClass {
  width: 250px;
  font-family: "Roboto", sans-serif;
  /* background-color: green; */
}

.contentClass {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.innerContentRow {
  flex-direction: column;
}

.imagesClass {
  flex: 1;
  /* background-color: pink; */
}

.hashtagsClass {
  flex: 1;
  /* background-color: black; */
}

.inputSearch {
  background-color: #bfbcae;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: 30px;
  line-height: 30px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
}

.inputSearch:focus {
  background-color: #bfbcae;
}

.inputSearch:disabled {
  background-color: #dadada;
  color: #a3a3a3;
}

.inputSearch:read-only {
  background-color: #f4f4f4;
  color: #a3a3a3;
  cursor: not-allowed;
}
.hideHyperlink {
  color: #3b3840;
  text-decoration: none;
}
.HeaderH1 {
  font-family: "Playfair Display", serif;
  color: #3b3840;
}
.hashtaChosIMG {
  width: 400px;
  height: 400px;
}
.hashtaChosTXT {
  font-size: 25px;
}
.IMGPOSTHOMEPAGE {
  width: 300px;
  height: 300px;
}
.TEXTPOSTHOMEPAGE {
  color: #a66c4b;
  font-family: "Lucida Console", "Courier New", monospace;
}

