body {
  margin: 0;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: red;
  margin-top: 10px;
}

nav {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

nav > img {
  max-width: 25vh;
  max-height: 15vh;

  border-radius: 50%;
}

nav > a {
  font-size: large;
  text-decoration: none;

  color: red;
  margin-right: 10px;
}

nav a:hover {
  background-color: #ddd; /* Change background color on hover */
  color: #555; /* Change text color on hover */
}

#sidebar {
  width: 250px;
  height: 100vh;
  background: #343a40; /* Sidebar background color */
  color: #fff; /* Text color */
  transition: all 0.3s;
}

#sidebarComp {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 300px;
  background: #adc4e6;
  z-index: 5;
}

#sidebarComp > a {
  color: #888;
}

.menu {
  padding: 0px 50px 0px 70px;
}

.menu > ul,
li {
  margin: 0;
  padding: 0;
}

.menu > ul > li > a {
  display: block;
  margin: 0 -50px 0 (-50px -20px);
  padding: 10px 50px 10px 70px;
}

.bottom-padding {
  height: 100px;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Hashtags {
  color: blue;
  cursor: pointer;
}
